In [225]:
import json
import csv
#import tweepy
import re
import nltk
from nltk.stem import WordNetLemmatizer
import pandas as pd
#import GetOldTweets3 as got
from nltk.corpus import stopwords
stopwords = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()
import numpy as np

In [226]:
bitsp_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/BITSPWeightedSentiment.csv')

iitb_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/iitbWeightedSentiment.csv')
iitm_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/IITMWeightedSentiment.csv')
lpu_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/LPUWeightedSentiment.csv')
pes_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/PESUWeightedSentiment.csv')
vit_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/VITWeightedSentiment.csv')

ase_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/ASEWeightedSentiment.csv')
au_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/AUWeightedSentiment.csv')
anna_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/AnnaWeightedSentiment.csv')
iiitb_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/IIITBWeightedSentiment.csv')
srm_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/SRMWeightedSentiment.csv')
nitk_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/NITKWeightedSentiment.csv')

In [227]:
bitsp_q=pd.read_csv('../Datasets/Quora/WSA/BITSPQuoraWSA.csv')
iitb_q=pd.read_csv('../Datasets/Quora/WSA/IITBQuoraWSA.csv')
iitm_q=pd.read_csv('../Datasets/Quora/WSA/IITMQuoraWSA.csv')
lpu_q=pd.read_csv('../Datasets/Quora/WSA/LPUQuoraWSA.csv')
pes_q=pd.read_csv('../Datasets/Quora/WSA/PESQuoraWSA.csv')
vit_q=pd.read_csv('../Datasets/Quora/WSA/VITQuoraWSA.csv')

ase_q=pd.read_csv('../Datasets/Quora/WSA/AllianceQuoraWSA.csv')
au_q=pd.read_csv('../Datasets/Quora/WSA/AmritaQuoraWSA.csv')
anna_q=pd.read_csv('../Datasets/Quora/WSA/AnnaQuoraWSA.csv')
iiitb_q=pd.read_csv('../Datasets/Quora/WSA/IIITBQuoraWSA.csv')
srm_q=pd.read_csv('../Datasets/Quora/WSA/SRMQuoraWSA.csv')
nitk_q=pd.read_csv('../Datasets/Quora/WSA/NITKQuoraWSA.csv')

In [228]:
bitsp_f=pd.read_csv('../Datasets/Facebook/bits-fb.csv')
iitb_f=pd.read_csv('../Datasets/Facebook/iitb_fb.csv')
lpu_f=pd.read_csv('../Datasets/Facebook/lpu-fb.csv')
vit_f=pd.read_csv('../Datasets/Facebook/vit-fb.csv')

ase_f=pd.read_csv('../Datasets/Facebook/amrita-fb.csv')
iiitb_f=pd.read_csv('../Datasets/Facebook/iiitb-fb.csv')
nitk_f=pd.read_csv('../Datasets/Facebook/nitk-fb.csv')
srm_f=pd.read_csv('../Datasets/Facebook/srm-fb.csv')

In [229]:
bitsp_g=pd.read_csv('../Datasets/Google/bits-gm.csv')
lpu_g=pd.read_csv('../Datasets/Google/lpu-gm.csv')
pes_g=pd.read_csv('../Datasets/Google/pes-gm.csv')
vit_g=pd.read_csv('../Datasets/Google/vit-gm.csv')

srm_g=pd.read_csv('../Datasets/Google/srm-gm.csv')
alliance_g=pd.read_csv('../Datasets/Google/alliance-gm.csv')
iiitb_g=pd.read_csv('../Datasets/Google/iiitb-gm.csv')
nitk_g=pd.read_csv('../Datasets/Google/nitk-gm.csv')

In [230]:
bitsp1 = bitsp_t['sentiment_score']
bitsp2 = bitsp_q['sentiment_score']
bitsp3 = bitsp_f['score']
bitsp4 = bitsp_g['fin_pred']
iitb1 = iitb_t['sentiment_score']
iitb2 = iitb_q['sentiment_score']
iitb3 = iitb_f['score']
iitb4 = pd.DataFrame([4.6*2812])
iitm1 = iitm_t['sentiment_score']
iitm2 = bitsp_q['sentiment_score']
iitm3 = pd.DataFrame([4.7*1515])
lpu1 = lpu_t['sentiment_score']
lpu2 = lpu_q['sentiment_score']
lpu3 = lpu_f['score']
lpu4 = lpu_g['fin_pred']
pes1 = pes_t['sentiment_score']
pes2 = pes_q['sentiment_score']
pes3 = pes_g['fin_pred']
vit1 = vit_t['sentiment_score']
vit2 = vit_q['sentiment_score']
vit3 = vit_f['score']
vit4 = vit_g['fin_pred']

In [231]:
f1 = [bitsp1,bitsp2,bitsp3,bitsp4]
bits = pd.concat(f1)

f2 = [iitb1,iitb2,iitb3,iitb4]
iitb = pd.concat(f2)

f3 = [iitm1,iitm2,iitm3]
iitm = pd.concat(f3)

f4 = [lpu1,lpu2,lpu3,lpu4]
lpu = pd.concat(f4)

f5 = [pes1,pes2,pes3]
pes = pd.concat(f5)

f6 = [vit1,vit2,vit3,vit4]
vit = pd.concat(f6)

In [232]:
bits_score = bits.mean()
bits_score

3.814827957843149

In [233]:
iitm_score = iitm.mean()
iitm_score

0    3.88419
dtype: float64

In [234]:
iitb_score = iitb.mean()
iitb_score

0    3.826176
dtype: float64

In [235]:
lpu_score = lpu.mean()
lpu_score

4.335473072564141

In [236]:
vit_score = vit.mean()
vit_score

3.7302569950663913

In [237]:
pes_score = pes.mean()
pes_score

3.814416059793275

In [238]:
#weighted scores for twitter and quora
bitsp_t_score= bitsp_t['sentiment_score'].mean()
bitsp_q_score = bitsp_q['sentiment_score'].mean()
bitsp_f_score = bitsp_f['score'].mean()
bitsp_g_score = bitsp_g['fin_pred'].mean()

bitsc = len(bitsp_t) +len(bitsp_q) + len(bitsp_f) + len(bitsp_g)



iitb_t_score= iitb_t['sentiment_score'].mean()
iitb_q_score = iitb_q['sentiment_score'].mean()
iitb_f_score = iitb_f['score'].mean()
iitb_g_score = 4.6

iitbc = len(iitb_t) +len(iitb_q) + len(iitb_f) + 2823

iitm_t_score= iitm_t['sentiment_score'].mean()
iitm_q_score = iitm_q['sentiment_score'].mean()
iitm_g_score = 4.7

iitmc = len(iitm_t) +len(iitm_q) + 1515

srm_t_score= srm_t['sentiment_score'].mean()
srm_q_score = srm_q['sentiment_score'].mean()
srm_f_score = srm_f['score'].mean()
srm_g_score = srm_g['fin_pred'].mean()

srmc = len(srm_t) +len(srm_q) + len(srm_f) + len(srm_g)

vit_t_score= vit_t['sentiment_score'].mean()
vit_q_score = vit_q['sentiment_score'].mean()
vit_f_score = vit_f['score'].mean()
vit_g_score = vit_g['fin_pred'].mean()

vitc = len(vit_t) +len(vit_q) + len(vit_f) + len(vit_g)

lpu_t_score= lpu_t['sentiment_score'].mean()
lpu_q_score = lpu_q['sentiment_score'].mean()
lpu_f_score = lpu_f['score'].mean()
lpu_g_score = lpu_g['fin_pred'].mean()

lpuc = len(lpu_t) +len(lpu_q) + len(lpu_f) + len(lpu_g)

iiitb_t_score= iiitb_t['sentiment_score'].mean()
iiitb_q_score = iiitb_q['sentiment_score'].mean()
iiitb_f_score = iiitb_f['score'].mean()
iiitb_g_score = iiitb_g['fin_pred'].mean()

iiitbc = len(iiitb_t) +len(iiitb_q) + len(iiitb_f) + len(iiitb_g)

pes_t_score= pes_t['sentiment_score'].mean()
pes_q_score = pes_q['sentiment_score'].mean()
pes_g_score = pes_g['fin_pred'].mean()

pesc = len(pes_t) +len(pes_q)  + len(pes_g)

amrita_t_score= ase_t['sentiment_score'].mean()
amrita_q_score = ase_q['sentiment_score'].mean()
amrita_f_score = ase_f['score'].mean()

amritac = len(ase_t) +len(ase_q) + len(ase_f) 

alliance_t_score= au_t['sentiment_score'].mean()
alliance_q_score = au_q['sentiment_score'].mean()
alliance_g_score = alliance_g['fin_pred'].mean()

alliancec = len(au_t) +len(au_q)  + len(alliance_g)

anna_t_score= anna_t['sentiment_score'].mean()
anna_q_score = anna_q['sentiment_score'].mean()

annac = len(anna_t) +len(anna_q) 

nitk_t_score= nitk_t['sentiment_score'].mean()
nitk_q_score =  nitk_q['sentiment_score'].mean()
nitk_f_score = nitk_f['score'].mean()
nitk_g_score = nitk_g['fin_pred'].mean()

nitkc = len(nitk_t) +len(nitk_q) + len(nitk_f) + len(nitk_g)

In [239]:
#Weighted score 
final = pd.DataFrame(columns=['University Name','Twitter weighted score','Quora Weighted score','Facebook Weighted score','Google Reviews Weighted score','Total Weighted score'])

In [240]:
final['University Name'] = ['IITB' , 'IITM' , 'BITSP' , 'VIT' , 'LPU' , 'PES', 'AMRITA' ,'ALLIANCE' ,'ANNA','IIITB' ,'NITK','SRM' ]

In [241]:
final['Twitter weighted score'] = [iitb_t_score,iitm_t_score,bitsp_t_score,vit_t_score,lpu_t_score,pes_t_score,amrita_t_score,alliance_t_score,anna_t_score,iiitb_t_score,nitk_t_score, srm_t_score]

In [242]:
final['Quora Weighted score'] = [iitb_q_score,iitm_q_score,bitsp_q_score,vit_q_score,lpu_q_score,pes_q_score,amrita_q_score,alliance_q_score,anna_q_score,iiitb_q_score,nitk_q_score, srm_q_score]

In [243]:
final['Facebook Weighted score'] = [iitb_f_score,0,bitsp_f_score,vit_f_score,lpu_f_score,0,amrita_f_score,0,0,iiitb_f_score,nitk_f_score,srm_f_score]

In [244]:
final['Google Reviews Weighted score']= [iitb_g_score,iitm_g_score,bitsp_g_score,vit_g_score,lpu_g_score,pes_g_score,0,alliance_g_score,0,iiitb_g_score,nitk_g_score, srm_g_score]

In [245]:
final['Total length'] =   [iitbc,iitmc,bitsc,vitc,lpuc,pesc,amritac,alliancec,annac,iiitbc,nitkc, srmc]

In [246]:
final['Total Weighted score'] = final.sum(axis = 1)

In [247]:
final

,University Name,Twitter weighted score,Quora Weighted score,Facebook Weighted score,Google Reviews Weighted score,Total Weighted score,Total length
0,IITB,3.563786,3.943499,3.371394,4.600000,52998.478679,52983
1,IITM,3.526437,3.872712,0.000000,4.700000,22240.099148,22228
2,BITSP,3.664388,3.751897,3.454928,4.513570,6300.384783,6285
3,VIT,3.832773,3.872712,3.224314,3.807692,3491.737491,3477
4,LPU,4.520532,4.363163,3.283929,4.300626,7758.468250,7742
5,PES,3.621074,3.686008,0.000000,4.139875,2898.446956,2887
6,AMRITA,3.182561,4.038437,3.126985,0.000000,434.347983,424
7,ALLIANCE,3.173993,3.735550,0.000000,3.635849,1172.545392,1162
8,ANNA,3.349277,3.776490,0.000000,0.000000,7637.125767,7630
9,IIITB,3.590122,3.779331,3.266867,4.371747,3645.008067,3630
10,NITK,3.342230,3.874133,3.606572,4.509351,2063.332287,2048
11,SRM,3.437036,3.735550,3.121003,4.040351,21973.333940,21959

In [248]:
final['final score'] = final['Total Weighted score'] / final['Total length']

In [249]:
final_df = final.sort_values(by=['final score'], ascending=False)
final_df=final_df.reset_index()
final_df=final_df.drop(['index'],axis=1)
final_df

,University Name,Twitter weighted score,Quora Weighted score,Facebook Weighted score,Google Reviews Weighted score,Total Weighted score,Total length,final score
0,AMRITA,3.182561,4.038437,3.126985,0.000000,434.347983,424,1.024406
1,ALLIANCE,3.173993,3.735550,0.000000,3.635849,1172.545392,1162,1.009075
2,NITK,3.342230,3.874133,3.606572,4.509351,2063.332287,2048,1.007486
3,VIT,3.832773,3.872712,3.224314,3.807692,3491.737491,3477,1.004239
4,IIITB,3.590122,3.779331,3.266867,4.371747,3645.008067,3630,1.004134
5,PES,3.621074,3.686008,0.000000,4.139875,2898.446956,2887,1.003965
6,BITSP,3.664388,3.751897,3.454928,4.513570,6300.384783,6285,1.002448
7,LPU,4.520532,4.363163,3.283929,4.300626,7758.468250,7742,1.002127
8,ANNA,3.349277,3.776490,0.000000,0.000000,7637.125767,7630,1.000934
9,SRM,3.437036,3.735550,3.121003,4.040351,21973.333940,21959,1.000653
10,IITM,3.526437,3.872712,0.000000,4.700000,22240.099148,22228,1.000544
11,IITB,3.563786,3.943499,3.371394,4.600000,52998.478679,52983,1.000292

In [449]:
ws = pd.DataFrame(columns=['University_Name'])

In [450]:
ws['Twitter_score'] = [iitb_t_score,iitm_t_score,bitsp_t_score,vit_t_score,lpu_t_score,pes_t_score,amrita_t_score,alliance_t_score,anna_t_score,iiitb_t_score,nitk_t_score, srm_t_score]
ws['University_Name'] = ['IITB' , 'IITM' , 'BITSP' , 'VIT' , 'LPU' , 'PES', 'AMRITA' ,'ALLIANCE' ,'ANNA','IIITB' ,'NITK','SRM' ]
ws['Quora_score'] = [iitb_q_score,iitm_q_score,bitsp_q_score,vit_q_score,lpu_q_score,pes_q_score,amrita_q_score,alliance_q_score,anna_q_score,iiitb_q_score,nitk_q_score, srm_q_score]
ws['Google_score']= [iitb_g_score,iitm_g_score,bitsp_g_score,vit_g_score,lpu_g_score,pes_g_score,0,alliance_g_score,0,iiitb_g_score,nitk_g_score, srm_g_score]
ws['Facebook_score'] = [iitb_f_score,0,bitsp_f_score,vit_f_score,lpu_f_score,0,amrita_f_score,0,0,iiitb_f_score,nitk_f_score,srm_f_score]

In [461]:
bitsp_t_s= bitsp_t['sentiment_score'].sum()
bitsp_q_s = bitsp_q['sentiment_score'].sum()
bitsp_f_s = bitsp_f['score'].sum()
bitsp_g_s = bitsp_g['fin_pred'].sum()

bitsc = len(bitsp_t) +len(bitsp_q) + len(bitsp_f) + len(bitsp_g)



iitb_t_s= iitb_t['sentiment_score'].sum()
iitb_q_s = iitb_q['sentiment_score'].sum()
iitb_f_s = iitb_f['score'].sum()
iitb_g_s = 4.6

iitbc = len(iitb_t) +len(iitb_q) + len(iitb_f) + 2823

iitm_t_s= iitm_t['sentiment_score'].sum()
iitm_q_s = iitm_q['sentiment_score'].sum()
iitm_g_s = 4.7

iitmc = len(iitm_t) +len(iitm_q) + 1515

srm_t_s= srm_t['sentiment_score'].sum()
srm_q_s = srm_q['sentiment_score'].sum()
srm_f_s = srm_f['score'].sum()
srm_g_s = srm_g['fin_pred'].sum()

srmc = len(srm_t) +len(srm_q) + len(srm_f) + len(srm_g)

vit_t_s= vit_t['sentiment_score'].sum()
vit_q_s = vit_q['sentiment_score'].sum()
vit_f_s = vit_f['score'].sum()
vit_g_s = vit_g['fin_pred'].sum()

vitc = len(vit_t) +len(vit_q) + len(vit_f) + len(vit_g)

lpu_t_s= lpu_t['sentiment_score'].sum()
lpu_q_s = lpu_q['sentiment_score'].sum()
lpu_f_s = lpu_f['score'].sum()
lpu_g_s = lpu_g['fin_pred'].sum()

lpuc = len(lpu_t) +len(lpu_q) + len(lpu_f) + len(lpu_g)

iiitb_t_s= iiitb_t['sentiment_score'].sum()
iiitb_q_s = iiitb_q['sentiment_score'].sum()
iiitb_f_s = iiitb_f['score'].sum()
iiitb_g_s = iiitb_g['fin_pred'].sum()

iiitbc = len(iiitb_t) +len(iiitb_q) + len(iiitb_f) + len(iiitb_g)

pes_t_s= pes_t['sentiment_score'].sum()
pes_q_s = pes_q['sentiment_score'].sum()
pes_g_s = pes_g['fin_pred'].sum()

pesc = len(pes_t) +len(pes_q)  + len(pes_g)

amrita_t_s= ase_t['sentiment_score'].sum()
amrita_q_s = ase_q['sentiment_score'].sum()
amrita_f_s = ase_f['score'].sum()

amritac = len(ase_t) +len(ase_q) + len(ase_f) 

alliance_t_s= au_t['sentiment_score'].sum()
alliance_q_s = au_q['sentiment_score'].sum()
alliance_g_s = alliance_g['fin_pred'].sum()

alliancec = len(au_t) +len(au_q)  + len(alliance_g)

anna_t_s= anna_t['sentiment_score'].sum()
anna_q_s = anna_q['sentiment_score'].sum()

annac = len(anna_t) +len(anna_q) 

nitk_t_s= nitk_t['sentiment_score'].sum()
nitk_q_s =  nitk_q['sentiment_score'].sum()
nitk_f_s = nitk_f['score'].sum()
nitk_g_s = nitk_g['fin_pred'].sum()

nitkc = len(nitk_t) +len(nitk_q) + len(nitk_f) + len(nitk_g)

In [462]:
twitter_weights = [len(iitb_t)/iitbc,len(iitm_t)/iitmc,len(bitsp_t)/bitsc,len(srm_t)/srmc,len(vit_t)/vitc,len(lpu_t)/lpuc,len(pes_t)/pesc,len(au_t)/alliancec, len(ase_t)/amritac,len(iiitb_t)/iiitbc,len(anna_t)/annac,len(nitk_t)/nitkc]

quora_weights = [len(iitb_q)/iitbc,len(iitm_q)/iitmc,len(bitsp_q)/bitsc,len(srm_q)/srmc,len(vit_q)/vitc,len(lpu_q)/lpuc,len(pes_q)/pesc,len(au_q)/alliancec, len(ase_q)/amritac,len(iiitb_q)/iiitbc,len(anna_q)/annac,len(nitk_q)/nitkc]

google_weights = [2523/iitbc,1515/iitmc,len(bitsp_g)/bitsc,len(srm_g)/srmc,len(vit_g)/vitc,len(lpu_g)/lpuc,len(pes_g)/pesc,len(alliance_g)/alliancec, 0,len(iiitb_g)/iiitbc,0,len(nitk_g)/nitkc]

facebook_weights = [len(iitb_f)/iitbc,0,len(bitsp_f)/bitsc,len(srm_f)/srmc,len(vit_f)/vitc,len(lpu_f)/lpuc,0,0, len(ase_f)/amritac,len(iiitb_f)/iiitbc,0,len(nitk_f)/nitkc]

In [463]:
twitter = list(ws.Twitter_score)
fb = list(ws.Facebook_score)
quora = list(ws.Quora_score)
gm = list(ws.Google_score)
gm[0] = 4.6 
gm[1] = 4.7

In [464]:
def prod(list1,list2):
    pr = []
    for num1,num2 in zip(list1,list2):
        pr.append(num1*num2)
    return pr

In [465]:
twp = prod(twitter,twitter_weights)
fbp = prod(fb,facebook_weights)
quorap = prod(quora,quora_weights)
gmp = prod(gm,google_weights)

In [466]:
def sumlist(list1,list2):
    suml = []
    for num1,num2 in zip(list1,list2):
        suml.append(num1+num2)
    return suml

In [467]:
twfb = sumlist(twp,fbp)
qgm = sumlist(quorap,gmp)
totalsum = sumlist(twfb,qgm)

In [468]:
ws['totalsum'] = totalsum

In [469]:
ws

,University_Name,Twitter_score,Quora_score,Google_score,Facebook_score,totalsum
0,IITB,3.563786,3.943499,4.600000,3.371394,3.597376
1,IITM,3.526437,3.872712,4.700000,0.000000,3.630928
2,BITSP,3.664388,3.751897,4.513570,3.454928,3.814828
3,VIT,3.832773,3.872712,3.807692,3.224314,3.812730
4,LPU,4.520532,4.363163,4.300626,3.283929,4.203005
5,PES,3.621074,3.686008,4.139875,0.000000,3.399277
6,AMRITA,3.182561,4.038437,0.000000,3.126985,2.405748
7,ALLIANCE,3.173993,3.735550,3.635849,0.000000,3.426211
8,ANNA,3.349277,3.776490,0.000000,0.000000,2.943554
9,IIITB,3.590122,3.779331,4.371747,3.266867,3.718395
10,NITK,3.342230,3.874133,4.509351,3.606572,3.435435
11,SRM,3.437036,3.735550,4.040351,3.121003,3.825342

In [470]:
final_ws = ws.sort_values(by=['totalsum'], ascending=False)
final_ws=final_ws.reset_index()
final_ws=final_ws.drop(['index'],axis=1)
final_ws

,University_Name,Twitter_score,Quora_score,Google_score,Facebook_score,totalsum
0,LPU,4.520532,4.363163,4.300626,3.283929,4.203005
1,SRM,3.437036,3.735550,4.040351,3.121003,3.825342
2,BITSP,3.664388,3.751897,4.513570,3.454928,3.814828
3,VIT,3.832773,3.872712,3.807692,3.224314,3.812730
4,IIITB,3.590122,3.779331,4.371747,3.266867,3.718395
5,IITM,3.526437,3.872712,4.700000,0.000000,3.630928
6,IITB,3.563786,3.943499,4.600000,3.371394,3.597376
7,NITK,3.342230,3.874133,4.509351,3.606572,3.435435
8,ALLIANCE,3.173993,3.735550,3.635849,0.000000,3.426211
9,PES,3.621074,3.686008,4.139875,0.000000,3.399277
10,ANNA,3.349277,3.776490,0.000000,0.000000,2.943554
11,AMRITA,3.182561,4.038437,0.000000,3.126985,2.405748