In [192]:
import json
import csv
#import tweepy
import re
import nltk
from nltk.stem import WordNetLemmatizer
import pandas as pd
#import GetOldTweets3 as got
from nltk.corpus import stopwords
stopwords = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()
import numpy as np

In [193]:
bitsp_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/BITSPWeightedSentiment.csv')

iitb_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/iitbWeightedSentiment.csv')
iitm_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/IITMWeightedSentiment.csv')
lpu_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/LPUWeightedSentiment.csv')
pes_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/PESUWeightedSentiment.csv')
vit_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/VITWeightedSentiment.csv')

ase_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/ASEWeightedSentiment.csv')
au_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/AUWeightedSentiment.csv')
anna_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/AnnaWeightedSentiment.csv')
iiitb_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/IIITBWeightedSentiment.csv')
srm_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/SRMWeightedSentiment.csv')
nitk_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/NITKWeightedSentiment.csv')

In [194]:
bitsp_q=pd.read_csv('../Datasets/Quora/WSA/BITSPQuoraWSA.csv')
iitb_q=pd.read_csv('../Datasets/Quora/WSA/IITBQuoraWSA.csv')
iitm_q=pd.read_csv('../Datasets/Quora/WSA/IITMQuoraWSA.csv')
lpu_q=pd.read_csv('../Datasets/Quora/WSA/LPUQuoraWSA.csv')
pes_q=pd.read_csv('../Datasets/Quora/WSA/PESQuoraWSA.csv')
vit_q=pd.read_csv('../Datasets/Quora/WSA/VITQuoraWSA.csv')

ase_q=pd.read_csv('../Datasets/Quora/WSA/AllianceQuoraWSA.csv')
au_q=pd.read_csv('../Datasets/Quora/WSA/AmritaQuoraWSA.csv')
anna_q=pd.read_csv('../Datasets/Quora/WSA/AnnaQuoraWSA.csv')
iiitb_q=pd.read_csv('../Datasets/Quora/WSA/IIITBQuoraWSA.csv')
srm_q=pd.read_csv('../Datasets/Quora/WSA/SRMQuoraWSA.csv')
nitk_q=pd.read_csv('../Datasets/Quora/WSA/NITKQuoraWSA.csv')

In [195]:
bitsp_f=pd.read_csv('../Datasets/Facebook/bits-fb.csv')
iitb_f=pd.read_csv('../Datasets/Facebook/iitb_fb.csv')
lpu_f=pd.read_csv('../Datasets/Facebook/lpu-fb.csv')
vit_f=pd.read_csv('../Datasets/Facebook/vit-fb.csv')

ase_f=pd.read_csv('../Datasets/Facebook/amrita-fb.csv')
iiitb_f=pd.read_csv('../Datasets/Facebook/iiitb-fb.csv')
nitk_f=pd.read_csv('../Datasets/Facebook/nitk-fb.csv')
srm_f=pd.read_csv('../Datasets/Facebook/srm-fb.csv')

In [196]:
bitsp_g=pd.read_csv('../Datasets/Google/bits-gm.csv')
lpu_g=pd.read_csv('../Datasets/Google/lpu-gm.csv')
pes_g=pd.read_csv('../Datasets/Google/pes-gm.csv')
vit_g=pd.read_csv('../Datasets/Google/vit-gm.csv')

srm_g=pd.read_csv('../Datasets/Google/srm-gm.csv')
alliance_g=pd.read_csv('../Datasets/Google/alliance-gm.csv')
iiitb_g=pd.read_csv('../Datasets/Google/iiitb-gm.csv')
nitk_g=pd.read_csv('../Datasets/Google/nitk-gm.csv')

In [197]:
bitsp1 = bitsp_t['sentiment_score']
bitsp2 = bitsp_q['sentiment_score']
bitsp3 = bitsp_f['score']
bitsp4 = bitsp_g['fin_pred']
iitb1 = iitb_t['sentiment_score']
iitb2 = iitb_q['sentiment_score']
iitb3 = iitb_f['score']
iitb4 = pd.DataFrame([4.6*2812])
iitm1 = iitm_t['sentiment_score']
iitm2 = bitsp_q['sentiment_score']
iitm3 = pd.DataFrame([4.7*1515])
lpu1 = lpu_t['sentiment_score']
lpu2 = lpu_q['sentiment_score']
lpu3 = lpu_f['score']
lpu4 = lpu_g['fin_pred']
pes1 = pes_t['sentiment_score']
pes2 = pes_q['sentiment_score']
pes3 = pes_g['fin_pred']
vit1 = vit_t['sentiment_score']
vit2 = vit_q['sentiment_score']
vit3 = vit_f['score']
vit4 = vit_g['fin_pred']

In [198]:
f1 = [bitsp1,bitsp2,bitsp3,bitsp4]
bits = pd.concat(f1)

f2 = [iitb1,iitb2,iitb3,iitb4]
iitb = pd.concat(f2)

f3 = [iitm1,iitm2,iitm3]
iitm = pd.concat(f3)

f4 = [lpu1,lpu2,lpu3,lpu4]
lpu = pd.concat(f4)

f5 = [pes1,pes2,pes3]
pes = pd.concat(f5)

f6 = [vit1,vit2,vit3,vit4]
vit = pd.concat(f6)

In [199]:
bits_score = bits.mean()
bits_score

3.814827957843149

In [200]:
iitm_score = iitm.mean()
iitm_score

0    3.88419
dtype: float64

In [201]:
iitb_score = iitb.mean()
iitb_score

0    3.826176
dtype: float64

In [202]:
lpu_score = lpu.mean()
lpu_score

4.335473072564141

In [203]:
vit_score = vit.mean()
vit_score

3.7302569950663913

In [204]:
pes_score = pes.mean()
pes_score

3.814416059793275

In [206]:
#weighted scores for twitter and quora
bitsp_t_score= bitsp_t['sentiment_score'].mean()
bitsp_q_score = bitsp_q['sentiment_score'].mean()
bitsp_f_score = bitsp_f['score'].mean()
bitsp_g_score = bitsp_g['fin_pred'].mean()



iitb_t_score= iitb_t['sentiment_score'].mean()
iitb_q_score = iitb_q['sentiment_score'].mean()
iitb_f_score = iitb_f['score'].mean()
iitb_g_score = 4.6

iitm_t_score= iitm_t['sentiment_score'].mean()
iitm_q_score = iitm_q['sentiment_score'].mean()
iitm_g_score = 4.7

srm_t_score= srm_t['sentiment_score'].mean()
srm_q_score = srm_q['sentiment_score'].mean()
srm_f_score = srm_f['score'].mean()
srm_g_score = srm_g['fin_pred'].mean()

vit_t_score= vit_t['sentiment_score'].mean()
vit_q_score = vit_q['sentiment_score'].mean()
vit_f_score = vit_f['score'].mean()
vit_g_score = vit_g['fin_pred'].mean()

lpu_t_score= lpu_t['sentiment_score'].mean()
lpu_q_score = lpu_q['sentiment_score'].mean()
lpu_f_score = lpu_f['score'].mean()
lpu_g_score = lpu_g['fin_pred'].mean()

iiitb_t_score= iiitb_t['sentiment_score'].mean()
iiitb_q_score = iiitb_q['sentiment_score'].mean()
iiitb_f_score = iiitb_f['score'].mean()
iiitb_g_score = iiitb_g['fin_pred'].mean()

pes_t_score= pes_t['sentiment_score'].mean()
pes_q_score = pes_q['sentiment_score'].mean()
pes_g_score = pes_g['fin_pred'].mean()

amrita_t_score= ase_t['sentiment_score'].mean()
amrita_q_score = ase_q['sentiment_score'].mean()
amrita_f_score = ase_f['score'].mean()

alliance_t_score= au_t['sentiment_score'].mean()
alliance_q_score = au_q['sentiment_score'].mean()
alliance_g_score = alliance_g['fin_pred'].mean()

anna_t_score= anna_t['sentiment_score'].mean()
anna_q_score = anna_q['sentiment_score'].mean()

nitk_t_score= nitk_t['sentiment_score'].mean()
nitk_q_score =  nitk_q['sentiment_score'].mean()
nitk_f_score = nitk_f['score'].mean()
nitk_g_score = nitk_g['fin_pred'].mean()

In [207]:
#Weighted score 
final = pd.DataFrame(columns=['University Name','Twitter weighted score','Quora Weighted score','Facebook Weighted score','Google Reviews Weighted score','Total Weighted score'])

In [208]:
final['University Name'] = ['IITB' , 'IITM' , 'BITSP' , 'VIT' , 'LPU' , 'PES', 'AMRITA' ,'ALLIANCE' ,'ANNA','IIITB' ,'NITK','SRM' ]

In [209]:
final['Twitter weighted score'] = [iitb_t_score,iitm_t_score,bitsp_t_score,vit_t_score,lpu_t_score,pes_t_score,amrita_t_score,alliance_t_score,anna_t_score,iiitb_t_score,nitk_t_score, srm_t_score]

In [210]:
final['Quora Weighted score'] = [iitb_q_score,iitm_q_score,bitsp_q_score,vit_q_score,lpu_q_score,pes_q_score,amrita_q_score,alliance_q_score,anna_q_score,iiitb_q_score,nitk_q_score, srm_q_score]

In [211]:
final['Facebook Weighted score'] = [iitb_f_score,0,bitsp_f_score,vit_f_score,lpu_f_score,0,amrita_f_score,0,0,iiitb_f_score,nitk_f_score,srm_f_score]

In [212]:
final['Google Reviews Weighted score']= [iitb_g_score,iitm_g_score,bitsp_g_score,vit_g_score,lpu_g_score,pes_g_score,0,alliance_g_score,0,iiitb_g_score,nitk_g_score, srm_g_score]

In [213]:
final

,University Name,Twitter weighted score,Quora Weighted score,Facebook Weighted score,Google Reviews Weighted score,Total Weighted score
0,IITB,3.563786,3.943499,3.371394,4.600000,NaN
1,IITM,3.526437,3.872712,0.000000,4.700000,NaN
2,BITSP,3.664388,3.751897,3.454928,4.513570,NaN
3,VIT,3.832773,3.872712,3.224314,3.807692,NaN
4,LPU,4.520532,4.363163,3.283929,4.300626,NaN
5,PES,3.621074,3.686008,0.000000,4.139875,NaN
6,AMRITA,3.182561,4.038437,3.126985,0.000000,NaN
7,ALLIANCE,3.173993,3.735550,0.000000,3.635849,NaN
8,ANNA,3.349277,3.776490,0.000000,0.000000,NaN
9,IIITB,3.590122,3.779331,3.266867,4.371747,NaN
10,NITK,3.342230,3.874133,3.606572,4.509351,NaN
11,SRM,3.437036,3.735550,3.121003,4.040351,NaN

In [214]:
final['Total Weighted score'] = final.sum(axis = 1)

In [161]:
final

,University Name,Twitter weighted score,Quora Weighted score,Facebook Weighted score,Google Reviews Weighted score,Total Weighted score
0,IITB,3.563786,3.943499,3.371394,4.600000,15.478679
1,IITM,3.526437,3.872712,0.000000,4.700000,12.099148
2,BITSP,3.664388,3.751897,3.454928,4.513570,15.384783
3,VIT,3.832773,3.872712,3.224314,3.807692,14.737491
4,LPU,4.520532,4.363163,4.363163,4.300626,17.547484
5,PES,3.621074,3.686008,0.000000,4.139875,11.446956
6,AMRITA,3.182561,4.038437,3.126985,0.000000,10.347983
7,ALLIANCE,3.173993,3.735550,0.000000,3.635849,10.545392
8,ANNA,3.349277,3.776490,0.000000,0.000000,7.125767
9,IIITB,3.590122,3.779331,3.266867,4.371747,15.008067
10,NITK,3.342230,3.874133,3.606572,4.509351,15.332287
11,SRM,3.437036,3.735550,3.121003,4.040351,14.333940

In [162]:
final_df = final.sort_values(by=['Total Weighted score'], ascending=False)
final_df=final_df.reset_index()
final_df=final_df.drop(['index'],axis=1)
final_df

,University Name,Twitter weighted score,Quora Weighted score,Facebook Weighted score,Google Reviews Weighted score,Total Weighted score
0,LPU,4.520532,4.363163,4.363163,4.300626,17.547484
1,IITB,3.563786,3.943499,3.371394,4.600000,15.478679
2,BITSP,3.664388,3.751897,3.454928,4.513570,15.384783
3,NITK,3.342230,3.874133,3.606572,4.509351,15.332287
4,IIITB,3.590122,3.779331,3.266867,4.371747,15.008067
5,VIT,3.832773,3.872712,3.224314,3.807692,14.737491
6,SRM,3.437036,3.735550,3.121003,4.040351,14.333940
7,IITM,3.526437,3.872712,0.000000,4.700000,12.099148
8,PES,3.621074,3.686008,0.000000,4.139875,11.446956
9,ALLIANCE,3.173993,3.735550,0.000000,3.635849,10.545392
10,AMRITA,3.182561,4.038437,3.126985,0.000000,10.347983
11,ANNA,3.349277,3.776490,0.000000,0.000000,7.125767