In [1]:
import json
import csv
#import tweepy
import re
import nltk
from nltk.stem import WordNetLemmatizer
import pandas as pd
#import GetOldTweets3 as got
from nltk.corpus import stopwords
stopwords = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()
import numpy as np

In [2]:
bitsp_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/BITSPWeightedSentiment.csv')

iitb_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/iitbWeightedSentiment.csv')
iitm_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/IITMWeightedSentiment.csv')
lpu_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/LPUWeightedSentiment.csv')
pes_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/PESUWeightedSentiment.csv')
vit_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/VITWeightedSentiment.csv')

ase_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/ASEWeightedSentiment.csv')
au_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/AUWeightedSentiment.csv')
anna_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/AnnaWeightedSentiment.csv')
iiitb_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/IIITBWeightedSentiment.csv')
srm_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/SRMWeightedSentiment.csv')
nitk_t=pd.read_csv('../Datasets/Twitter/Weighted Sentiment/NITKWeightedSentiment.csv')

In [3]:
bitsp_q=pd.read_csv('../Datasets/Quora/WSA/BITSPQuoraWSA.csv')
iitb_q=pd.read_csv('../Datasets/Quora/WSA/IITBQuoraWSA.csv')
iitm_q=pd.read_csv('../Datasets/Quora/WSA/IITMQuoraWSA.csv')
lpu_q=pd.read_csv('../Datasets/Quora/WSA/LPUQuoraWSA.csv')
pes_q=pd.read_csv('../Datasets/Quora/WSA/PESQuoraWSA.csv')
vit_q=pd.read_csv('../Datasets/Quora/WSA/VITQuoraWSA.csv')

ase_q=pd.read_csv('../Datasets/Quora/WSA/AllianceQuoraWSA.csv')
au_q=pd.read_csv('../Datasets/Quora/WSA/AmritaQuoraWSA.csv')
anna_q=pd.read_csv('../Datasets/Quora/WSA/AnnaQuoraWSA.csv')
iiitb_q=pd.read_csv('../Datasets/Quora/WSA/IIITBQuoraWSA.csv')
srm_q=pd.read_csv('../Datasets/Quora/WSA/SRMQuoraWSA.csv')
nitk_q=pd.read_csv('../Datasets/Quora/WSA/NITKQuoraWSA.csv')

In [4]:
bitsp_f=pd.read_csv('../Datasets/Facebook/bits-fb.csv')
iitb_f=pd.read_csv('../Datasets/Facebook/iitb_fb.csv')
lpu_f=pd.read_csv('../Datasets/Facebook/lpu-fb.csv')
vit_f=pd.read_csv('../Datasets/Facebook/vit-fb.csv')

In [5]:
bitsp_g=pd.read_csv('../Datasets/Google/bits-gm.csv')
lpu_g=pd.read_csv('../Datasets/Google/lpu-gm.csv')
pes_g=pd.read_csv('../Datasets/Google/pes-gm.csv')
vit_g=pd.read_csv('../Datasets/Google/vit-gm.csv')

In [6]:
bitsp1 = bitsp_t['sentiment_score']
bitsp2 = bitsp_q['sentiment_score']
bitsp3 = bitsp_f['pred']
bitsp4 = bitsp_g['fin_pred']
iitb1 = iitb_t['sentiment_score']
iitb2 = iitb_q['sentiment_score']
iitb3 = iitb_f['pred']
iitb4 = pd.DataFrame([4.6*2812])
iitm1 = iitm_t['sentiment_score']
iitm2 = bitsp_q['sentiment_score']
iitm3 = pd.DataFrame([4.7*1515])
lpu1 = lpu_t['sentiment_score']
lpu2 = lpu_q['sentiment_score']
lpu3 = lpu_f['pred']
lpu4 = lpu_g['fin_pred']
pes1 = pes_t['sentiment_score']
pes2 = pes_q['sentiment_score']
pes3 = pes_g['fin_pred']
vit1 = vit_t['sentiment_score']
vit2 = vit_q['sentiment_score']
vit3 = vit_f['pred']
vit4 = vit_g['fin_pred']

In [7]:
f1 = [bitsp1,bitsp2,bitsp3,bitsp4]
bits = pd.concat(f1)

f2 = [iitb1,iitb2,iitb3,iitb4]
iitb = pd.concat(f2)

f3 = [iitm1,iitm2,iitm3]
iitm = pd.concat(f3)

f4 = [lpu1,lpu2,lpu3,lpu4]
lpu = pd.concat(f4)

f5 = [pes1,pes2,pes3]
pes = pd.concat(f5)

f6 = [vit1,vit2,vit3,vit4]
vit = pd.concat(f6)

In [8]:
iitm

                0
0        5.000000
1        5.000000
2        5.000000
3        2.000000
4        3.000000
5        5.000000
6        3.000000
7        5.000000
8        3.000000
9        4.000000
10       5.000000
11       5.000000
12       1.000000
13       3.000000
14       3.000000
15       5.000000
16       3.000000
17       3.000000
18       4.000000
19       5.000000
20       5.000000
21       5.000000
22       2.000000
23       3.000000
24       5.000000
25       3.000000
26       5.000000
27       3.000000
28       4.000000
29       5.000000
...           ...
2006     2.987867
2007     2.408000
2008     5.000000
2009     4.136550
2010     1.232100
2011     4.180300
2012     4.817250
2013     4.359500
2014     3.862150
2015     3.732720
2016     3.840300
2017     4.325000
2018     4.948733
2019     3.000000
2020     4.224320
2021     3.692300
2022     3.783700
2023     4.577200
2024     4.211400
2025     2.408000
2026     3.000000
2027     3.000000
2028     3.251280
2029     2.904733
2030     4.295571
2031     4.594725
2032     4.509200
2033     4.355800
2034     5.000000
0     7120.500000

[21176 rows x 1 columns]

In [9]:
bits_score = bits.mean()
bits_score

3.8348622935631482

In [10]:
iitm_score = iitm.mean()
iitm_score

0    3.88419
dtype: float64

In [11]:
iitb_score = iitb.mean()
iitb_score

0    3.829657
dtype: float64

In [12]:
lpu_score = lpu.mean()
lpu_score

4.385224402969794

In [13]:
vit_score = vit.mean()
vit_score

3.858721706024063

In [14]:
pes_score = pes.mean()
pes_score

3.814416059793275

In [15]:
#weighted scores for twitter and quora
bitsp_t_score= bitsp_t['sentiment_score'].mean()
bitsp_q_score = bitsp_q['sentiment_score'].mean()

iitb_t_score= iitb_t['sentiment_score'].mean()
iitb_q_score = iitb_q['sentiment_score'].mean()

iitm_t_score= iitm_t['sentiment_score'].mean()
iitm_q_score = iitm_q['sentiment_score'].mean()

srm_t_score= srm_t['sentiment_score'].mean()
srm_q_score = srm_q['sentiment_score'].mean()

vit_t_score= vit_t['sentiment_score'].mean()
vit_q_score = vit_q['sentiment_score'].mean()

lpu_t_score= lpu_t['sentiment_score'].mean()
lpu_q_score = lpu_q['sentiment_score'].mean()

iiitb_t_score= iiitb_t['sentiment_score'].mean()
iiitb_q_score = iiitb_q['sentiment_score'].mean()

pes_t_score= pes_t['sentiment_score'].mean()
pes_q_score = pes_q['sentiment_score'].mean()

amrita_t_score= ase_t['sentiment_score'].mean()
amrita_q_score = ase_q['sentiment_score'].mean()

alliance_t_score= au_t['sentiment_score'].mean()
alliance_q_score = au_q['sentiment_score'].mean()

anna_t_score= anna_t['sentiment_score'].mean()
anna_q_score = anna_q['sentiment_score'].mean()

nitk_t_score= nitk_t['sentiment_score'].mean()
nitk_q_score =  nitk_q['sentiment_score'].mean()

In [16]:
#Weighted score 
final = pd.DataFrame(columns=['University Name','Twitter weighted score','Quora Weighted score','Facebook Weighted score','Google Reviews Weighted score','Total Weighted score'])

In [17]:
final['University Name'] = ['IITB' , 'IITM' , 'BITSP' , 'VIT' , 'LPU' , 'PES', 'AMRITA' ,'ALLIANCE' ,'ANNA','IIITB' ,'NITK','SRM' ]

In [18]:
final['Twitter weighted score'] = [iitb_t_score,iitm_t_score,bitsp_t_score,vit_t_score,lpu_t_score,pes_t_score,amrita_t_score,alliance_t_score,anna_t_score,iitb_t_score,nitk_t_score, srm_t_score]

In [19]:
final['Quora Weighted score'] = [iitb_q_score,iitm_q_score,bitsp_q_score,vit_q_score,lpu_q_score,pes_q_score,amrita_q_score,alliance_q_score,anna_q_score,iitb_q_score,nitk_q_score, srm_q_score]

In [20]:
final

,University Name,Twitter weighted score,Quora Weighted score,Facebook Weighted score,Google Reviews Weighted score,Total Weighted score
0,IITB,3.563786,3.943499,NaN,NaN,NaN
1,IITM,3.526437,3.872712,NaN,NaN,NaN
2,BITSP,3.664388,3.751897,NaN,NaN,NaN
3,VIT,3.832773,3.872712,NaN,NaN,NaN
4,LPU,4.520532,4.363163,NaN,NaN,NaN
5,PES,3.621074,3.686008,NaN,NaN,NaN
6,AMRITA,3.182561,4.038437,NaN,NaN,NaN
7,ALLIANCE,3.173993,3.735550,NaN,NaN,NaN
8,ANNA,3.349277,3.776490,NaN,NaN,NaN
9,IIITB,3.563786,3.943499,NaN,NaN,NaN
10,NITK,3.342230,3.874133,NaN,NaN,NaN
11,SRM,3.437036,3.735550,NaN,NaN,NaN

In [21]:
final['Total weighted score'] = final.sum(axis = 1)

In [22]:
final

,University Name,Twitter weighted score,Quora Weighted score,Facebook Weighted score,Google Reviews Weighted score,Total Weighted score,Total weighted score
0,IITB,3.563786,3.943499,NaN,NaN,NaN,7.507285
1,IITM,3.526437,3.872712,NaN,NaN,NaN,7.399148
2,BITSP,3.664388,3.751897,NaN,NaN,NaN,7.416285
3,VIT,3.832773,3.872712,NaN,NaN,NaN,7.705485
4,LPU,4.520532,4.363163,NaN,NaN,NaN,8.883695
5,PES,3.621074,3.686008,NaN,NaN,NaN,7.307082
6,AMRITA,3.182561,4.038437,NaN,NaN,NaN,7.220998
7,ALLIANCE,3.173993,3.735550,NaN,NaN,NaN,6.909543
8,ANNA,3.349277,3.776490,NaN,NaN,NaN,7.125767
9,IIITB,3.563786,3.943499,NaN,NaN,NaN,7.507285
10,NITK,3.342230,3.874133,NaN,NaN,NaN,7.216363
11,SRM,3.437036,3.735550,NaN,NaN,NaN,7.172586

In [25]:
final_df = final.sort_values(by=['Total weighted score'], ascending=False)
final_df=final_df.reset_index()
final_df=final_df.drop(['index'],axis=1)
final_df

,University Name,Twitter weighted score,Quora Weighted score,Facebook Weighted score,Google Reviews Weighted score,Total Weighted score,Total weighted score
0,LPU,4.520532,4.363163,NaN,NaN,NaN,8.883695
1,VIT,3.832773,3.872712,NaN,NaN,NaN,7.705485
2,IITB,3.563786,3.943499,NaN,NaN,NaN,7.507285
3,IIITB,3.563786,3.943499,NaN,NaN,NaN,7.507285
4,BITSP,3.664388,3.751897,NaN,NaN,NaN,7.416285
5,IITM,3.526437,3.872712,NaN,NaN,NaN,7.399148
6,PES,3.621074,3.686008,NaN,NaN,NaN,7.307082
7,AMRITA,3.182561,4.038437,NaN,NaN,NaN,7.220998
8,NITK,3.342230,3.874133,NaN,NaN,NaN,7.216363
9,SRM,3.437036,3.735550,NaN,NaN,NaN,7.172586
10,ANNA,3.349277,3.776490,NaN,NaN,NaN,7.125767
11,ALLIANCE,3.173993,3.735550,NaN,NaN,NaN,6.909543