In [145]:
import json
import csv
import tweepy
import re
import nltk
from nltk.stem import WordNetLemmatizer
import pandas as pd
import GetOldTweets3 as got
from nltk.corpus import stopwords
stopwords = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()
import numpy as np

In [146]:
text_tweets = [[tweet.text ,tweet.date,tweet.username,tweet.retweets,tweet.hashtags] for tweet in tw]
text_tweets1 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets,tweet.hashtags] for tweet in tw1]
text_tweets2 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets,tweet.hashtags] for tweet in tw2]
text_tweets3 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets,tweet.hashtags] for tweet in tw3]
text_tweets4 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets,tweet.hashtags] for tweet in tw4]
text_tweets5 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets,tweet.hashtags] for tweet in tw5]
text_tweets6 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets,tweet.hashtags] for tweet in tw6]
text_tweets7 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets,tweet.hashtags] for tweet in tw7]
text_tweets8 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets,tweet.hashtags] for tweet in tw8]
text_tweets9 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets,tweet.hashtags] for tweet in tw9]
text_tweets10 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets,tweet.hashtags] for tweet in tw10]
text_tweets11 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets,tweet.hashtags] for tweet in tw11]

                                                     0
0    #MomentofSignal #Inspiration #motivation #Lead...
1
2                                          #Pappumutra
3
4
..                                                 ...
682
683
684
685
686

[687 rows x 1 columns]

In [2]:
#scrape tweets with keyword "iitmadras" with columns text,date,username and retweets
text_query = 'iit madras'
since_date = '2019-06-01'
until_date = '2019-06-30'
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setLang('en')
# Creation of list that contains all tweets
tw = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.text ,tweet.date,tweet.username,tweet.retweets] for tweet in tw]

In [3]:
#scrape tweets with keyword "iitmadras" with columns text,date,username and retweets
text_query = 'iit madras'
since_date = '2019-07-01'
until_date = '2019-07-31'
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setLang('en')
# Creation of list that contains all tweets
tw1 = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets1 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets] for tweet in tw1]

In [4]:
#scrape tweets with keyword "iitmadras" with columns text,date,username and retweets
text_query = 'iit madras'
since_date = '2019-08-01'
until_date = '2019-08-31'
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setLang('en')
# Creation of list that contains all tweets
tw2 = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets2 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets] for tweet in tw2]

In [5]:
#scrape tweets with keyword "iitmadras" with columns text,date,username and retweets
text_query = 'iit madras'
since_date = '2019-09-01'
until_date = '2019-09-30'
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setLang('en')
# Creation of list that contains all tweets
tw3 = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets3 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets] for tweet in tw3]

In [6]:
#scrape tweets with keyword "iitmadras" with columns text,date,username and retweets
text_query = 'iit madras'
since_date = '2019-10-01'
until_date = '2019-10-31'
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setLang('en')
# Creation of list that contains all tweets
tw4 = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets4 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets] for tweet in tw4]

In [7]:
#scrape tweets with keyword "iitmadras" with columns text,date,username and retweets
text_query = 'iit madras'
since_date = '2019-11-01'
until_date = '2019-11-30'
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setLang('en')
# Creation of list that contains all tweets
tw5 = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets5 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets] for tweet in tw5]

In [8]:
#scrape tweets with keyword "iitmadras" with columns text,date,username and retweets
text_query = 'iit madras'
since_date = '2019-12-01'
until_date = '2019-12-31'
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setLang('en')
# Creation of list that contains all tweets
tw6 = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets6 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets] for tweet in tw6]

In [9]:
#scrape tweets with keyword "iitmadras" with columns text,date,username and retweets
text_query = 'iit madras'
since_date = '2020-01-01'
until_date = '2020-01-31'
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setLang('en')
# Creation of list that contains all tweets
tw7 = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets7 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets] for tweet in tw7]

In [10]:
#scrape tweets with keyword "iitmadras" with columns text,date,username and retweets
text_query = 'iit madras'
since_date = '2020-02-01'
until_date = '2020-02-28'
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setLang('en')
# Creation of list that contains all tweets
tw8 = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets8 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets] for tweet in tw8]

In [12]:
#scrape tweets with keyword "iitmadras" with columns text,date,username and retweets
text_query = 'iit madras'
since_date = '2020-03-01'
until_date = '2020-03-31'
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setLang('en')
# Creation of list that contains all tweets
tw9 = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets9= [[tweet.text ,tweet.date,tweet.username,tweet.retweets] for tweet in tw9]

In [16]:
#scrape tweets with keyword "iitmadras" with columns text,date,username and retweets
text_query = 'iit madras'
since_date = '2020-04-01'
until_date = '2020-04-30'
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setLang('en')
# Creation of list that contains all tweets
tw10 = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets10 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets] for tweet in tw10]

In [14]:
#scrape tweets with keyword "iitmadras" with columns text,date,username and retweets
text_query = 'iit madras'
since_date = '2020-05-01'
until_date = '2020-05-31'
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setLang('en')
# Creation of list that contains all tweets
tw11 = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets11 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets] for tweet in tw11]

In [15]:
#scrape tweets with keyword "iitmadras" with columns text,date,username and retweets
text_query = 'iit madras'
since_date = '2020-06-01'
until_date = '2020-06-30'
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setLang('en')
# Creation of list that contains all tweets
tw12 = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets12 = [[tweet.text ,tweet.date,tweet.username,tweet.retweets] for tweet in tw12]

In [148]:
frames =[text_tweets,text_tweets1,text_tweets2,text_tweets3,text_tweets4,text_tweets5,text_tweets6,text_tweets7,text_tweets8,text_tweets9,text_tweets10,text_tweets11]
tweets_df = pd.concat(frames,ignore_index = True)

In [147]:
text_tweets = pd.DataFrame(text_tweets)
text_tweets1 = pd.DataFrame(text_tweets1)
text_tweets2 = pd.DataFrame(text_tweets2)
text_tweets3 = pd.DataFrame(text_tweets3)
text_tweets4 = pd.DataFrame(text_tweets4)
text_tweets5 = pd.DataFrame(text_tweets5)
text_tweets6 = pd.DataFrame(text_tweets6)
text_tweets7 = pd.DataFrame(text_tweets7)
text_tweets8 = pd.DataFrame(text_tweets8)
text_tweets9 = pd.DataFrame(text_tweets9)
text_tweets10 = pd.DataFrame(text_tweets10)
text_tweets11 = pd.DataFrame(text_tweets11)

In [149]:
tweets_df

,0,1,2,3,4
0,"Manage to give best TIME to your BODY, because...",2019-06-29 20:32:00+00:00,SreedharBevara,1,#MomentofSignal #Inspiration #motivation #Lead...
1,This. Was. At. IIT Madras. A premier instituti...,2019-06-29 17:51:31+00:00,purpultat,0,
2,You misinformed about history or just high on ...,2019-06-29 17:50:58+00:00,Siddhu_1233,0,#Pappumutra
3,"That's nothing, nobody figured out my jati at ...",2019-06-29 15:55:17+00:00,RajeevSrinivasa,26,
4,"Yes, but @iitmadras can do more, seem to be in...",2019-06-29 14:12:31+00:00,SundarSrik,0,
...,...,...,...,...,...
20105,True that @iitbombay @iitdelhi @iitmadras @IIT...,2020-05-01 03:44:51+00:00,DrGauravNarula,3,
20106,IIT Madras-backed startups develop PPEs to fig...,2020-05-01 01:54:54+00:00,YuvNewsOfficial,0,
20107,The Future of Education Around the Globe and t...,2020-05-01 01:38:59+00:00,MalaCShekhar,0,#COVID__19
20108,iit madras: IIT-Madras backed startups provide...,2020-05-01 00:18:36+00:00,Anop24,1,
20109,"IIT Madras student startup makes detachable, l...",2020-05-01 00:00:13+00:00,TOICitiesNews,2,

In [150]:
tweets_df.columns = ['Tweet_text' , 'date' , 'username','retweets','hashtags']

In [151]:
tweets_df

,Tweet_text,date,username,retweets,hashtags
0,"Manage to give best TIME to your BODY, because...",2019-06-29 20:32:00+00:00,SreedharBevara,1,#MomentofSignal #Inspiration #motivation #Lead...
1,This. Was. At. IIT Madras. A premier instituti...,2019-06-29 17:51:31+00:00,purpultat,0,
2,You misinformed about history or just high on ...,2019-06-29 17:50:58+00:00,Siddhu_1233,0,#Pappumutra
3,"That's nothing, nobody figured out my jati at ...",2019-06-29 15:55:17+00:00,RajeevSrinivasa,26,
4,"Yes, but @iitmadras can do more, seem to be in...",2019-06-29 14:12:31+00:00,SundarSrik,0,
...,...,...,...,...,...
20105,True that @iitbombay @iitdelhi @iitmadras @IIT...,2020-05-01 03:44:51+00:00,DrGauravNarula,3,
20106,IIT Madras-backed startups develop PPEs to fig...,2020-05-01 01:54:54+00:00,YuvNewsOfficial,0,
20107,The Future of Education Around the Globe and t...,2020-05-01 01:38:59+00:00,MalaCShekhar,0,#COVID__19
20108,iit madras: IIT-Madras backed startups provide...,2020-05-01 00:18:36+00:00,Anop24,1,
20109,"IIT Madras student startup makes detachable, l...",2020-05-01 00:00:13+00:00,TOICitiesNews,2,

In [152]:
#check how many tweets were from one of the university handles
uni_tweets = tweets_df.loc[tweets_df['username'].isin(['iitmadras','ecelliitm','vandemataramiit','iGEM_IITM','iitm_respark','domsiitmadras','emliitm','iitmbt','CFI_IITM','iitmfoundation'])]

In [153]:
uni_tweets['uni_handle'] = 1

C:\Users\KIRHIKAGURUMURTHY\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [131]:

#uni_handle_list =  ['iitmadras','ecelliitm','vandemataramiit','iGEM_IITM','iitm_respark','domsiitmadras','emliitm','iitmbt','CFI_IITM','iitmfoundation']

In [73]:
uni_tweets[uni_tweets.duplicated()]
#tweets_df1 = tweets_df.drop(columns = ["level_0","index"])

Empty DataFrame
Columns: [Tweet_text, date, username, retweets, uni_handle]
Index: []

In [154]:
tweets_df['uni_handle'] = uni_tweets['uni_handle']

In [155]:
iitm = tweets_df.combine_first(tweets_df)
iitm

,Tweet_text,date,username,retweets,hashtags,uni_handle
0,"Manage to give best TIME to your BODY, because...",2019-06-29 20:32:00+00:00,SreedharBevara,1,#MomentofSignal #Inspiration #motivation #Lead...,NaN
1,This. Was. At. IIT Madras. A premier instituti...,2019-06-29 17:51:31+00:00,purpultat,0,,NaN
2,You misinformed about history or just high on ...,2019-06-29 17:50:58+00:00,Siddhu_1233,0,#Pappumutra,NaN
3,"That's nothing, nobody figured out my jati at ...",2019-06-29 15:55:17+00:00,RajeevSrinivasa,26,,NaN
4,"Yes, but @iitmadras can do more, seem to be in...",2019-06-29 14:12:31+00:00,SundarSrik,0,,NaN
...,...,...,...,...,...,...
20105,True that @iitbombay @iitdelhi @iitmadras @IIT...,2020-05-01 03:44:51+00:00,DrGauravNarula,3,,NaN
20106,IIT Madras-backed startups develop PPEs to fig...,2020-05-01 01:54:54+00:00,YuvNewsOfficial,0,,NaN
20107,The Future of Education Around the Globe and t...,2020-05-01 01:38:59+00:00,MalaCShekhar,0,#COVID__19,NaN
20108,iit madras: IIT-Madras backed startups provide...,2020-05-01 00:18:36+00:00,Anop24,1,,NaN
20109,"IIT Madras student startup makes detachable, l...",2020-05-01 00:00:13+00:00,TOICitiesNews,2,,NaN

In [156]:
iitm[iitm['uni_handle'] == 1]

,Tweet_text,date,username,retweets,hashtags,uni_handle
16,@iitmadras centre charges up India for E-vehic...,2019-06-29 04:26:13+00:00,iitmadras,5,,1.0
38,"Many think, few prevail... ""I could either wat...",2019-06-28 11:19:45+00:00,ecelliitm,1,#ElonMusk #birthday #scienceandtechnology #tes...,1.0
42,#Congratulations @iitmadras Alumnus Prof. @Mas...,2019-06-28 07:23:10+00:00,iitmadras,1,#Congratulations,1.0
46,"Today in #FridayFact, E-Cell at IIT Madras hel...",2019-06-28 04:48:08+00:00,ecelliitm,1,#FridayFact #funding #entrepreneurship #CrowdF...,1.0
59,To help the startup network and entrepreneuria...,2019-06-27 09:57:48+00:00,ecelliitm,0,,1.0
...,...,...,...,...,...,...
19988,#SpecialLectureSeries Today's @nptelindia onli...,2020-05-04 07:23:20+00:00,iitmadras,5,#SpecialLectureSeries #Quarantine #LearnAtHome...,1.0
20021,#SpecialLectureSeries Today's @nptelindia onli...,2020-05-03 06:42:53+00:00,iitmadras,5,#SpecialLectureSeries,1.0
20048,#SpecialLectureSeries Today's @nptelindia onli...,2020-05-02 05:45:37+00:00,iitmadras,5,#SpecialLectureSeries #Quarantine #LearnAtHome,1.0
20073,"Prof. T. Pradeep, Dept of Chemistry of @iitmad...",2020-05-01 10:46:19+00:00,iitmadras,25,#IITMResearch,1.0
20102,#SpecialLectureSeries Today's @nptelindia onli...,2020-05-01 04:53:00+00:00,iitmadras,4,#SpecialLectureSeries #Quarantine #LearnAtHome,1.0

In [157]:
iitm['uni_handle'] = iitm['uni_handle'].replace(np.nan, 0)

In [158]:
iitm[iitm['uni_handle'] == 1]

,Tweet_text,date,username,retweets,hashtags,uni_handle
16,@iitmadras centre charges up India for E-vehic...,2019-06-29 04:26:13+00:00,iitmadras,5,,1.0
38,"Many think, few prevail... ""I could either wat...",2019-06-28 11:19:45+00:00,ecelliitm,1,#ElonMusk #birthday #scienceandtechnology #tes...,1.0
42,#Congratulations @iitmadras Alumnus Prof. @Mas...,2019-06-28 07:23:10+00:00,iitmadras,1,#Congratulations,1.0
46,"Today in #FridayFact, E-Cell at IIT Madras hel...",2019-06-28 04:48:08+00:00,ecelliitm,1,#FridayFact #funding #entrepreneurship #CrowdF...,1.0
59,To help the startup network and entrepreneuria...,2019-06-27 09:57:48+00:00,ecelliitm,0,,1.0
...,...,...,...,...,...,...
19988,#SpecialLectureSeries Today's @nptelindia onli...,2020-05-04 07:23:20+00:00,iitmadras,5,#SpecialLectureSeries #Quarantine #LearnAtHome...,1.0
20021,#SpecialLectureSeries Today's @nptelindia onli...,2020-05-03 06:42:53+00:00,iitmadras,5,#SpecialLectureSeries,1.0
20048,#SpecialLectureSeries Today's @nptelindia onli...,2020-05-02 05:45:37+00:00,iitmadras,5,#SpecialLectureSeries #Quarantine #LearnAtHome,1.0
20073,"Prof. T. Pradeep, Dept of Chemistry of @iitmad...",2020-05-01 10:46:19+00:00,iitmadras,25,#IITMResearch,1.0
20102,#SpecialLectureSeries Today's @nptelindia onli...,2020-05-01 04:53:00+00:00,iitmadras,4,#SpecialLectureSeries #Quarantine #LearnAtHome,1.0

In [159]:
#dataframe containing additional column uni_handle (1 if it is a handle of the university else 0)
#iitm[iitm['uni_handle'] == 0] 
iitm_final = iitm.drop_duplicates()
iitm_final

,Tweet_text,date,username,retweets,hashtags,uni_handle
0,"Manage to give best TIME to your BODY, because...",2019-06-29 20:32:00+00:00,SreedharBevara,1,#MomentofSignal #Inspiration #motivation #Lead...,0.0
1,This. Was. At. IIT Madras. A premier instituti...,2019-06-29 17:51:31+00:00,purpultat,0,,0.0
2,You misinformed about history or just high on ...,2019-06-29 17:50:58+00:00,Siddhu_1233,0,#Pappumutra,0.0
3,"That's nothing, nobody figured out my jati at ...",2019-06-29 15:55:17+00:00,RajeevSrinivasa,26,,0.0
4,"Yes, but @iitmadras can do more, seem to be in...",2019-06-29 14:12:31+00:00,SundarSrik,0,,0.0
...,...,...,...,...,...,...
20105,True that @iitbombay @iitdelhi @iitmadras @IIT...,2020-05-01 03:44:51+00:00,DrGauravNarula,3,,0.0
20106,IIT Madras-backed startups develop PPEs to fig...,2020-05-01 01:54:54+00:00,YuvNewsOfficial,0,,0.0
20107,The Future of Education Around the Globe and t...,2020-05-01 01:38:59+00:00,MalaCShekhar,0,#COVID__19,0.0
20108,iit madras: IIT-Madras backed startups provide...,2020-05-01 00:18:36+00:00,Anop24,1,,0.0
20109,"IIT Madras student startup makes detachable, l...",2020-05-01 00:00:13+00:00,TOICitiesNews,2,,0.0

In [160]:
#Finding sentiment of the tweets using VADER
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
iitm['compound'] = [analyzer.polarity_scores(v)['compound'] for v in iitm['Tweet_text']]

In [161]:
iitm

,Tweet_text,date,username,retweets,hashtags,uni_handle,compound
0,"Manage to give best TIME to your BODY, because...",2019-06-29 20:32:00+00:00,SreedharBevara,1,#MomentofSignal #Inspiration #motivation #Lead...,0.0,0.8750
1,This. Was. At. IIT Madras. A premier instituti...,2019-06-29 17:51:31+00:00,purpultat,0,,0.0,0.7430
2,You misinformed about history or just high on ...,2019-06-29 17:50:58+00:00,Siddhu_1233,0,#Pappumutra,0.0,-0.5290
3,"That's nothing, nobody figured out my jati at ...",2019-06-29 15:55:17+00:00,RajeevSrinivasa,26,,0.0,0.0000
4,"Yes, but @iitmadras can do more, seem to be in...",2019-06-29 14:12:31+00:00,SundarSrik,0,,0.0,0.2828
...,...,...,...,...,...,...,...
20105,True that @iitbombay @iitdelhi @iitmadras @IIT...,2020-05-01 03:44:51+00:00,DrGauravNarula,3,,0.0,0.7639
20106,IIT Madras-backed startups develop PPEs to fig...,2020-05-01 01:54:54+00:00,YuvNewsOfficial,0,,0.0,-0.3818
20107,The Future of Education Around the Globe and t...,2020-05-01 01:38:59+00:00,MalaCShekhar,0,#COVID__19,0.0,0.0000
20108,iit madras: IIT-Madras backed startups provide...,2020-05-01 00:18:36+00:00,Anop24,1,,0.0,0.0258
20109,"IIT Madras student startup makes detachable, l...",2020-05-01 00:00:13+00:00,TOICitiesNews,2,,0.0,0.0000

In [162]:
#classifying sentiments as positive,negative and neutral
def sentiment(compound):
    res = ""
    if(compound >= 0.05):
        res="Positive"
    elif(compound <= - 0.05):
        res="Negative"
    else:
        res="Neutral"
    return res

iitm['Sentiment'] = iitm['compound'].apply(lambda x: sentiment(x))

In [163]:
iitm[iitm['hashtags'].notnull()]

,Tweet_text,date,username,retweets,hashtags,uni_handle,compound,Sentiment
0,"Manage to give best TIME to your BODY, because...",2019-06-29 20:32:00+00:00,SreedharBevara,1,#MomentofSignal #Inspiration #motivation #Lead...,0.0,0.8750,Positive
1,This. Was. At. IIT Madras. A premier instituti...,2019-06-29 17:51:31+00:00,purpultat,0,,0.0,0.7430,Positive
2,You misinformed about history or just high on ...,2019-06-29 17:50:58+00:00,Siddhu_1233,0,#Pappumutra,0.0,-0.5290,Negative
3,"That's nothing, nobody figured out my jati at ...",2019-06-29 15:55:17+00:00,RajeevSrinivasa,26,,0.0,0.0000,Neutral
4,"Yes, but @iitmadras can do more, seem to be in...",2019-06-29 14:12:31+00:00,SundarSrik,0,,0.0,0.2828,Positive
...,...,...,...,...,...,...,...,...
20105,True that @iitbombay @iitdelhi @iitmadras @IIT...,2020-05-01 03:44:51+00:00,DrGauravNarula,3,,0.0,0.7639,Positive
20106,IIT Madras-backed startups develop PPEs to fig...,2020-05-01 01:54:54+00:00,YuvNewsOfficial,0,,0.0,-0.3818,Negative
20107,The Future of Education Around the Globe and t...,2020-05-01 01:38:59+00:00,MalaCShekhar,0,#COVID__19,0.0,0.0000,Neutral
20108,iit madras: IIT-Madras backed startups provide...,2020-05-01 00:18:36+00:00,Anop24,1,,0.0,0.0258,Neutral
20109,"IIT Madras student startup makes detachable, l...",2020-05-01 00:00:13+00:00,TOICitiesNews,2,,0.0,0.0000,Neutral

In [164]:
iitm.to_csv('final_iitm.csv')