In [4]:
import json
import csv
import tweepy
import re
import nltk
from nltk.stem import WordNetLemmatizer
import pandas as pd
import GetOldTweets3 as got
from nltk.corpus import stopwords
stopwords = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()
import numpy as np

In [2]:
consumer_key = input()
consumer_secret = input()
access_key = input()
access_secret = input()

Jj52ijmLikNTLD3qRXSyFo2bW
XQ3VyYt0LG5W4sotm4LfpvA99dd0KCuiD9tSZVf62Lsb02SSIJ
1038621976934281216-y2s3U70cy3WlUWXjx4U2uUJbfaw6LD
zthp70cGjzb7VVK7cfArUuYZz7OG5KxwgJ9SG2tixhl9s

In [7]:
text_query = 'iitmadras'
since_date = '2020-01-01'
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setLang('en')
# Creation of list that contains all tweets
tw = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.text ,tweet.date,tweet.username] for tweet in tw]

In [68]:
len(text_tweets)

8289

In [69]:
tweets_df = pd.DataFrame(text_tweets)

In [70]:
tweets_df

,0,1,2
0,Government sirf y bol kr hmne exm center doubl...,2020-06-11 15:45:24+00:00,kavisha_teotia
1,"#NIRFRanking2020: IIT Madras, IISc Bangalore a...",2020-06-11 15:45:00+00:00,JagranEnglish
2,"Life lessons! There was a very brilliant boy, ...",2020-06-11 15:37:33+00:00,ExcelinkS
3,Congratulations to @IITISM_DHANBAD for achievi...,2020-06-11 15:36:32+00:00,abhikrahul
4,NIRF release the ranking 2020 of Institutes an...,2020-06-11 15:30:21+00:00,TheDailyDiaryin
...,...,...,...
8284,Chennai hosts student-focused conference http:...,2020-01-01 02:47:50+00:00,fii_news
8285,CBI takes over IIT Madras student Fathima Lath...,2020-01-01 02:45:22+00:00,56perumal
8286,"Please ask that Chemistry ""Professor"" to watch...",2020-01-01 01:21:59+00:00,pardus87
8287,He bullshits so well and has lot of experience...,2020-01-01 01:12:09+00:00,venkat1962
8288,This is India -Largest democracy in the world....,2020-01-01 00:35:38+00:00,kashmiKashmi1

In [71]:
tweets_df.columns = ['Tweet_text' , 'date' , 'username']

In [3]:
tweets_df
#tweets_df.to_csv('og_iitm.csv’)

NameError: name 'tweets_df' is not defined

In [73]:
uni_tweets = tweets_df.loc[tweets_df['username'].isin(['iitmadras','ecelliitm','vandemataramiit','iGEM_IITM','iitm_respark','domsiitmadras','emliitm','iitmbt','CFI_IITM','iitmfoundation'])]

In [75]:
uni_tweets['uni_handle'] = 1

C:\Users\KIRHIKAGURUMURTHY\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [60]:
uni_tweets
uni_handle_list =  ['iitmadras','ecelliitm','vandemataramiit','iGEM_IITM','iitm_respark','domsiitmadras','emliitm','iitmbt','CFI_IITM','iitmfoundation']

In [76]:
tweets_df['uni_handle'] = uni_tweets['uni_handle']

In [102]:
iitm = tweets_df.combine_first(tweets_df)
iitm

,Tweet_text,date,username,uni_handle
0,Government sirf y bol kr hmne exm center doubl...,2020-06-11 15:45:24+00:00,kavisha_teotia,NaN
1,"#NIRFRanking2020: IIT Madras, IISc Bangalore a...",2020-06-11 15:45:00+00:00,JagranEnglish,NaN
2,"Life lessons! There was a very brilliant boy, ...",2020-06-11 15:37:33+00:00,ExcelinkS,NaN
3,Congratulations to @IITISM_DHANBAD for achievi...,2020-06-11 15:36:32+00:00,abhikrahul,NaN
4,NIRF release the ranking 2020 of Institutes an...,2020-06-11 15:30:21+00:00,TheDailyDiaryin,NaN
...,...,...,...,...
8284,Chennai hosts student-focused conference http:...,2020-01-01 02:47:50+00:00,fii_news,NaN
8285,CBI takes over IIT Madras student Fathima Lath...,2020-01-01 02:45:22+00:00,56perumal,NaN
8286,"Please ask that Chemistry ""Professor"" to watch...",2020-01-01 01:21:59+00:00,pardus87,NaN
8287,He bullshits so well and has lot of experience...,2020-01-01 01:12:09+00:00,venkat1962,NaN
8288,This is India -Largest democracy in the world....,2020-01-01 00:35:38+00:00,kashmiKashmi1,NaN

In [103]:
iitm[iitm['uni_handle'] == 1]

,Tweet_text,date,username,uni_handle
22,One more step by @NASA to explore the unknown ...,2020-06-11 14:53:57+00:00,ecelliitm,1.0
99,Live on EML Youtube Channel. https://youtu.be/...,2020-06-11 13:19:50+00:00,emliitm,1.0
311,Proud to announce that @iitmadras has bagged t...,2020-06-11 08:35:06+00:00,iitmadras,1.0
375,#EngineeringLectureSeries Today's @nptelindia ...,2020-06-11 03:48:32+00:00,iitmadras,1.0
397,EML proudly presents the teaser of the first w...,2020-06-10 14:47:36+00:00,emliitm,1.0
...,...,...,...,...
8241,"Mr. Robin Li, eminent Computer Scientist & CEO...",2020-01-02 11:39:29+00:00,iitmadras,1.0
8243,The latest additions in the lecture series of ...,2020-01-02 11:32:59+00:00,iitmadras,1.0
8261,Great to hear from Director RIC Chennai @DRDO_...,2020-01-02 04:10:09+00:00,iitm_respark,1.0
8267,"Growing leaps and bounds each year, spreading ...",2020-01-02 02:00:49+00:00,ecelliitm,1.0
8269,E-Cell IIT Madras brings to you its newest add...,2020-01-01 23:21:35+00:00,ecelliitm,1.0

In [116]:
iitm['uni_handle'] = iitm['uni_handle'].replace(np.nan, 0)

In [118]:
iitm[iitm['uni_handle'] == 1]

,Tweet_text,date,username,uni_handle
22,One more step by @NASA to explore the unknown ...,2020-06-11 14:53:57+00:00,ecelliitm,1.0
99,Live on EML Youtube Channel. https://youtu.be/...,2020-06-11 13:19:50+00:00,emliitm,1.0
311,Proud to announce that @iitmadras has bagged t...,2020-06-11 08:35:06+00:00,iitmadras,1.0
375,#EngineeringLectureSeries Today's @nptelindia ...,2020-06-11 03:48:32+00:00,iitmadras,1.0
397,EML proudly presents the teaser of the first w...,2020-06-10 14:47:36+00:00,emliitm,1.0
...,...,...,...,...
8241,"Mr. Robin Li, eminent Computer Scientist & CEO...",2020-01-02 11:39:29+00:00,iitmadras,1.0
8243,The latest additions in the lecture series of ...,2020-01-02 11:32:59+00:00,iitmadras,1.0
8261,Great to hear from Director RIC Chennai @DRDO_...,2020-01-02 04:10:09+00:00,iitm_respark,1.0
8267,"Growing leaps and bounds each year, spreading ...",2020-01-02 02:00:49+00:00,ecelliitm,1.0
8269,E-Cell IIT Madras brings to you its newest add...,2020-01-01 23:21:35+00:00,ecelliitm,1.0

In [123]:
#iitm[iitm['uni_handle'] == 0] 
iitm_final = iitm.drop_duplicates()
iitm_final

,Tweet_text,date,username,uni_handle
0,Government sirf y bol kr hmne exm center doubl...,2020-06-11 15:45:24+00:00,kavisha_teotia,0.0
1,"#NIRFRanking2020: IIT Madras, IISc Bangalore a...",2020-06-11 15:45:00+00:00,JagranEnglish,0.0
2,"Life lessons! There was a very brilliant boy, ...",2020-06-11 15:37:33+00:00,ExcelinkS,0.0
3,Congratulations to @IITISM_DHANBAD for achievi...,2020-06-11 15:36:32+00:00,abhikrahul,0.0
4,NIRF release the ranking 2020 of Institutes an...,2020-06-11 15:30:21+00:00,TheDailyDiaryin,0.0
...,...,...,...,...
8284,Chennai hosts student-focused conference http:...,2020-01-01 02:47:50+00:00,fii_news,0.0
8285,CBI takes over IIT Madras student Fathima Lath...,2020-01-01 02:45:22+00:00,56perumal,0.0
8286,"Please ask that Chemistry ""Professor"" to watch...",2020-01-01 01:21:59+00:00,pardus87,0.0
8287,He bullshits so well and has lot of experience...,2020-01-01 01:12:09+00:00,venkat1962,0.0
8288,This is India -Largest democracy in the world....,2020-01-01 00:35:38+00:00,kashmiKashmi1,0.0

In [125]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
def sentiment_scores(sentence):
    res = ""
    sid_obj = SentimentIntensityAnalyzer()  
    sentiment_dict = sid_obj.polarity_scores(sentence) 
    compound = sentiment_dict['compound']*100
    if(compound >= 0.05):
        res="Positive"
    elif(compound <= - 0.05):
        res="Negative"
    else:
        res="Neutral"
    return res

ModuleNotFoundError: No module named 'vaderSentiment'